:root {
  --primary-color: #0e64c5;
  --primary-light-color: #3e8ee9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  /* max-width: 1000px;
  margin-left: auto;
  margin-right: auto; */
}

a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--primary-light-color);
  margin-bottom: 20px;
}

header > .logo {
  font-weight: 500;
  font-size: 1.3em;
}

header > ul {
  list-style: none;
  display: flex;
  margin-left: 50px;
  /* font-weight: 300; */
}

header > ul > li + li {
  margin-left: 20px;
}

main {
  padding: 10px 25px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 15px;
}

.post-item {
  padding: 14px;
  min-height: 150px;
  border: 1px dashed var(--primary-light-color);
  border-left: 4px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.post-title {
  font-size: 1.1em;
  font-weight: 500;
}

.post-subtitle {
  font-size: 0.8em;
  font-weight: 400;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-timestamp {
  font-size: 0.8em;
  color: var(--primary-light-color);
  margin: 2px 0;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.tag {
  border: 1px dotted var(--primary-light-color);
  padding: 3px 8px;
  font-size: 0.8em;
  margin: 5px 0;
  border-radius: 10px;
}

.tags > .tag + .tag {
  margin-left: 2px;
}

main.article {
  padding: 10px 80px;
}

.cover-image {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  margin-bottom: 20px;
}

.article-title {
  font-weight: 500;
  font-size: 1.5em;
}

.article-subtitle {
  font-weight: 400;
  font-size: 0.9em;
  color: rgb(68, 68, 68);
}

.article-date {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 0.8em;
  color: var(--primary-light-color);
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  .cover-image {
    height: 200px;
  }
  .posts {
    grid-template-columns: 1fr;
  }

  main.article {
    padding: 10px 20px;
  }
}
